html {
    position: relative;
    min-height: 100%; 
}

.text-pink {
    color: #ff1448 !important;
}

.nav-link{
    letter-spacing: 2px;
}

#carouselExampleSlidesOnly{
    height: 400px;
}

footer {
    background-color: #0d243d;
    height: 270px;
}

header{
    z-index:1000;
}

.dishCard{
    height:250px;
}